@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #f9f8f2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Outfit", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
